@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  background-color: $white;
}

a {
  text-decoration: none;
}

@media (max-width: 740px) {
  :root {
    font-size: 56%;
  }
}

@media (max-width: 440px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 340px) {
  :root {
    font-size: 45%;
  }
}
