@import "../../styles/variables";
@import "../Modal/styles";

header {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 90px;

  a {
    img {
      max-width: 120px;
    }
  }

  .modal,
  nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-wrap: wrap;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .buttons {
        display: flex;
      }

      li {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          height: 45px;
          border: 2px solid $primary-dark;
          opacity: 0.8;
          border-radius: 6px;
          padding: 0 22px;
          cursor: pointer;
          background-color: $white;
          color: $primary-dark;
          text-transform: uppercase;
          font: 600 1.6rem "Poppins", sans-serif;
          transition: all 0.3s;
          margin-left: 15px;

          &:hover {
            background-color: $primary-dark;
            color: $white;

            img {
              filter: invert(100%) sepia(73%) saturate(1380%) hue-rotate(193deg)
                brightness(120%) contrast(96%);
            }
          }

          img {
            transition: filter 0.3s;
            filter: invert(45%) sepia(46%) saturate(5245%) hue-rotate(233deg)
              brightness(102%) contrast(87%);
          }
        }

        a {
          padding: 10px 15px;
          text-decoration: none;
          color: $primary-dark;
          opacity: 0.8;
          font: 600 1.6rem "Roboto", sans-serif;
          text-transform: uppercase;
          transition: all 0.3s;
          display: inline-block;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  header {
    padding: 0 30px;
    gap: 10px;

    nav {
      display: none;
    }
  }
}

@media (max-width: 570px) {
  header nav ul {
    flex-wrap: wrap;
    justify-content: center;

    .buttons {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      li {
        .coinsInAccount {
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px 5px;
        }

        &:last-child {
          width: 100%;

          button {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
