@import "../../styles/variables";

.trade-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  padding: 30px 40px;
  border-radius: 20px;

  transition: all 0.3s;

  &:first-child {
    place-self: end;
  }

  &:last-child {
    place-self: start;
  }

  &.brita {
    background: linear-gradient(
      107deg,
      rgb(157, 124, 255) 0%,
      rgb(187, 164, 255) 39%,
      rgba(208, 192, 255, 1) 100%
    );

    &:hover {
      box-shadow: 0px 7px 17px 0px rgba(131, 90, 253, 0.287);
    }
  }

  &.bitcoin {
    background: linear-gradient(107deg, #ffaf4e 0%, #ffc073 39%, #ffd097 100%);

    &:hover {
      box-shadow: 0px 7px 17px 0px rgba(255, 175, 78, 0.287);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: $white;
        font-size: 2rem;
      }

      h2 {
        color: $white;
        font-size: 3.3rem;

        small {
          font-size: 1.7rem;
          opacity: 0.8;
          font-weight: 400;
        }
      }
    }

    .bottom {
      .transaction-resume {
        span {
          font: 400 2.3rem "Roboto", sans-serif;
          color: $white;
          text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.712);
          opacity: 1;

          opacity: 0.9;
          font-size: 2.1rem;
        }

        p {
          color: #fcfaf9;
          font-size: 2rem;
          margin: 10px 0;
        }
      }

      input {
        height: 35px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        border: 1.5px solid #e2e5e5;
        background-color: #fafafa;
        padding: 5px 10px;
        font-size: 1.6rem;
      }

      button {
        width: 100%;
        padding: 12px 0;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        font: 600 1.5rem "Poppins", sans-serif;
        color: $white;
        transition: all 0.3s;
        border: 0;
        border-radius: 4px;
        margin-top: 35px;

        &.brita {
          background-color: $primary;

          &:hover {
            background-color: $primary-dark;
          }
        }

        &.bitcoin {
          background-color: $secondary;

          &:hover {
            background-color: $secondary-dark;
          }
        }
      }
    }
  }
}
